Node Red/flow.json
[
    {
       "id":"4972d5a7275d0d7b",
       "type":"server-state-changed",
       "z":"35c0e2ebaea0e359",
       "name":"Green button (full)",
       "server":"",
       "version":4,
       "exposeToHomeAssistant":false,
       "haConfig":[
          {
             "property":"name",
             "value":""
          },
          {
             "property":"icon",
             "value":""
          }
       ],
       "entityidfilter":"binary_sensor.mme_fuld_flaske",
       "entityidfiltertype":"exact",
       "outputinitially":false,
       "state_type":"str",
       "haltifstate":"on",
       "halt_if_type":"str",
       "halt_if_compare":"is",
       "outputs":2,
       "output_only_on_state_change":true,
       "for":"0",
       "forType":"num",
       "forUnits":"minutes",
       "ignorePrevStateNull":false,
       "ignorePrevStateUnknown":false,
       "ignorePrevStateUnavailable":false,
       "ignoreCurrentStateUnknown":false,
       "ignoreCurrentStateUnavailable":false,
       "outputProperties":[
          {
             "property":"payload",
             "propertyType":"msg",
             "value":"",
             "valueType":"entityState"
          },
          {
             "property":"data",
             "propertyType":"msg",
             "value":"",
             "valueType":"eventData"
          },
          {
             "property":"topic",
             "propertyType":"msg",
             "value":"",
             "valueType":"triggerId"
          }
       ],
       "x":130,
       "y":100,
       "wires":[
          [
             "58484b365492466d"
          ],
          [
             
          ]
       ]
    },
    {
       "id":"7e04e2a69b99d9ef",
       "type":"server-state-changed",
       "z":"35c0e2ebaea0e359",
       "name":"Red button (empty)",
       "server":"",
       "version":4,
       "exposeToHomeAssistant":false,
       "haConfig":[
          {
             "property":"name",
             "value":""
          },
          {
             "property":"icon",
             "value":""
          }
       ],
       "entityidfilter":"binary_sensor.mme_tom_flaske",
       "entityidfiltertype":"exact",
       "outputinitially":false,
       "state_type":"str",
       "haltifstate":"on",
       "halt_if_type":"str",
       "halt_if_compare":"is",
       "outputs":2,
       "output_only_on_state_change":true,
       "for":"0",
       "forType":"num",
       "forUnits":"minutes",
       "ignorePrevStateNull":false,
       "ignorePrevStateUnknown":false,
       "ignorePrevStateUnavailable":false,
       "ignoreCurrentStateUnknown":false,
       "ignoreCurrentStateUnavailable":false,
       "outputProperties":[
          {
             "property":"payload",
             "propertyType":"msg",
             "value":"",
             "valueType":"entityState"
          },
          {
             "property":"data",
             "propertyType":"msg",
             "value":"",
             "valueType":"eventData"
          },
          {
             "property":"topic",
             "propertyType":"msg",
             "value":"",
             "valueType":"triggerId"
          }
       ],
       "x":130,
       "y":180,
       "wires":[
          [
             "c08fc58e3d34a1c7"
          ],
          [
             
          ]
       ]
    },
    {
       "id":"4fe3c5f943152cd7",
       "type":"api-call-service",
       "z":"35c0e2ebaea0e359",
       "name":"Add feeding",
       "server":"",
       "version":5,
       "debugenabled":false,
       "domain":"babybuddy",
       "service":"add_feeding",
       "areaId":[
          
       ],
       "deviceId":[
          
       ],
       "entityId":[
          "switch.marie_engedal_timer"
       ],
       "data":"{\t   \"notes\":\"Fra vægt\",\t   \"method\":\"Bottle\",\t   \"type\":\"Formula\",\t   \"timer\":\"True\",\t   \"amount\": msg.payload\t}",
       "dataType":"jsonata",
       "mergeContext":"",
       "mustacheAltTags":false,
       "outputProperties":[
          
       ],
       "queue":"none",
       "x":630,
       "y":180,
       "wires":[
          [
             "bcbf973d4fda5b76",
             "8a1c6c60dba4331f"
          ]
       ]
    },
    {
       "id":"bb5766c2d1e205e7",
       "type":"api-call-service",
       "z":"35c0e2ebaea0e359",
       "name":"Start feeding timer",
       "server":"",
       "version":5,
       "debugenabled":false,
       "domain":"babybuddy",
       "service":"start_timer",
       "areaId":[
          
       ],
       "deviceId":[
          
       ],
       "entityId":[
          "switch.marie_engedal_timer"
       ],
       "data":"{\t   \"name\":\"Flaske\"\t}",
       "dataType":"jsonata",
       "mergeContext":"",
       "mustacheAltTags":false,
       "outputProperties":[
          
       ],
       "queue":"none",
       "x":1430,
       "y":100,
       "wires":[
          [
             "397353c941f6588e"
          ]
       ]
    },
    {
       "id":"c08fc58e3d34a1c7",
       "type":"api-current-state",
       "z":"35c0e2ebaea0e359",
       "name":"Scale read",
       "server":"",
       "version":3,
       "outputs":1,
       "halt_if":"",
       "halt_if_type":"str",
       "halt_if_compare":"is",
       "entity_id":"sensor.mme_maengde",
       "state_type":"num",
       "blockInputOverrides":false,
       "outputProperties":[
          {
             "property":"payload",
             "propertyType":"msg",
             "value":"",
             "valueType":"entityState"
          },
          {
             "property":"data",
             "propertyType":"msg",
             "value":"",
             "valueType":"entity"
          }
       ],
       "for":"0",
       "forType":"num",
       "forUnits":"minutes",
       "override_topic":false,
       "state_location":"payload",
       "override_payload":"msg",
       "entity_location":"data",
       "override_data":"msg",
       "x":310,
       "y":180,
       "wires":[
          [
             "3775b3021084952f",
             "f9e898e97ebcc2e1"
          ]
       ]
    },
    {
       "id":"3775b3021084952f",
       "type":"function",
       "z":"35c0e2ebaea0e359",
       "name":"Calculate",
       "func":"var fuld = flow.get(\"mme_fuld\");\nvar tom = msg.payload;\nvar amount = Math.round(fuld - tom);\n\n\nmsg.payload = amount;\nnode.status({ fill: \"green\", shape: \"dot\", text: amount });\n\nreturn msg;",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "libs":[
          
       ],
       "x":460,
       "y":180,
       "wires":[
          [
             "4fe3c5f943152cd7"
          ]
       ],
       "outputLabels":[
          "Amount"
       ]
    },
    {
       "id":"397353c941f6588e",
       "type":"ha-entity",
       "z":"35c0e2ebaea0e359",
       "name":"Latest full bottle",
       "server":"",
       "version":2,
       "debugenabled":false,
       "outputs":1,
       "entityType":"sensor",
       "config":[
          {
             "property":"name",
             "value":"mme_marie_seneste_fulde"
          },
          {
             "property":"device_class",
             "value":""
          },
          {
             "property":"icon",
             "value":"mdi:baby-bottle"
          },
          {
             "property":"unit_of_measurement",
             "value":"mL"
          },
          {
             "property":"state_class",
             "value":""
          },
          {
             "property":"last_reset",
             "value":""
          }
       ],
       "state":"payload",
       "stateType":"msg",
       "attributes":[
          
       ],
       "resend":true,
       "outputLocation":"payload",
       "outputLocationType":"none",
       "inputOverride":"allow",
       "outputOnStateChange":false,
       "outputPayload":"",
       "outputPayloadType":"str",
       "x":1680,
       "y":100,
       "wires":[
          [
             
          ]
       ]
    },
    {
       "id":"f9e898e97ebcc2e1",
       "type":"ha-entity",
       "z":"35c0e2ebaea0e359",
       "name":"Latest empty",
       "server":"",
       "version":2,
       "debugenabled":false,
       "outputs":1,
       "entityType":"sensor",
       "config":[
          {
             "property":"name",
             "value":"mme_marie_seneste_tomme"
          },
          {
             "property":"device_class",
             "value":""
          },
          {
             "property":"icon",
             "value":"mdi:baby-bottle"
          },
          {
             "property":"unit_of_measurement",
             "value":"mL"
          },
          {
             "property":"state_class",
             "value":""
          },
          {
             "property":"last_reset",
             "value":""
          }
       ],
       "state":"payload",
       "stateType":"msg",
       "attributes":[
          
       ],
       "resend":true,
       "outputLocation":"payload",
       "outputLocationType":"none",
       "inputOverride":"allow",
       "outputOnStateChange":false,
       "outputPayload":"",
       "outputPayloadType":"str",
       "x":470,
       "y":240,
       "wires":[
          [
             
          ]
       ]
    },
    {
       "id":"bcbf973d4fda5b76",
       "type":"ha-entity",
       "z":"35c0e2ebaea0e359",
       "name":"Latest amount",
       "server":"",
       "version":2,
       "debugenabled":false,
       "outputs":1,
       "entityType":"sensor",
       "config":[
          {
             "property":"name",
             "value":"mme_marie_seneste_maengde"
          },
          {
             "property":"device_class",
             "value":""
          },
          {
             "property":"icon",
             "value":"mdi:baby-bottle"
          },
          {
             "property":"unit_of_measurement",
             "value":"mL"
          },
          {
             "property":"state_class",
             "value":""
          },
          {
             "property":"last_reset",
             "value":""
          }
       ],
       "state":"payload",
       "stateType":"msg",
       "attributes":[
          
       ],
       "resend":true,
       "outputLocation":"payload",
       "outputLocationType":"none",
       "inputOverride":"allow",
       "outputOnStateChange":false,
       "outputPayload":"",
       "outputPayloadType":"str",
       "x":920,
       "y":180,
       "wires":[
          [
             
          ]
       ]
    },
    {
       "id":"8a1c6c60dba4331f",
       "type":"ha-entity",
       "z":"35c0e2ebaea0e359",
       "name":"Latest timestamp",
       "server":"",
       "version":2,
       "debugenabled":false,
       "outputs":1,
       "entityType":"sensor",
       "config":[
          {
             "property":"name",
             "value":"marie_mme_seneste"
          },
          {
             "property":"device_class",
             "value":"timestamp"
          },
          {
             "property":"icon",
             "value":""
          },
          {
             "property":"unit_of_measurement",
             "value":""
          },
          {
             "property":"state_class",
             "value":""
          },
          {
             "property":"last_reset",
             "value":""
          }
       ],
       "state":"data.last_updated",
       "stateType":"msg",
       "attributes":[
          
       ],
       "resend":true,
       "outputLocation":"payload",
       "outputLocationType":"none",
       "inputOverride":"allow",
       "outputOnStateChange":false,
       "outputPayload":"",
       "outputPayloadType":"str",
       "x":930,
       "y":240,
       "wires":[
          [
             
          ]
       ]
    },
    {
       "id":"0f3fe4fbd5739d8b",
       "type":"api-current-state",
       "z":"35c0e2ebaea0e359",
       "name":"Last feeding",
       "server":"",
       "version":3,
       "outputs":1,
       "halt_if":"",
       "halt_if_type":"str",
       "halt_if_compare":"is",
       "entity_id":"sensor.marie_engedal_last_feeding",
       "state_type":"str",
       "blockInputOverrides":false,
       "outputProperties":[
          {
             "property":"payload",
             "propertyType":"msg",
             "value":"",
             "valueType":"entityState"
          },
          {
             "property":"data",
             "propertyType":"msg",
             "value":"",
             "valueType":"entity"
          }
       ],
       "for":"0",
       "forType":"num",
       "forUnits":"minutes",
       "override_topic":false,
       "state_location":"payload",
       "override_payload":"msg",
       "entity_location":"data",
       "override_data":"msg",
       "x":310,
       "y":300,
       "wires":[
          [
             "06b23bdfb558bdf1"
          ]
       ]
    },
    {
       "id":"06b23bdfb558bdf1",
       "type":"function",
       "z":"35c0e2ebaea0e359",
       "name":"",
       "func":"var date = msg.data.attributes.end\nvar myDate = new Date(date);\nvar hhmm = myDate.toLocaleTimeString();\n\nfunction addZero(i) {\n    if (i < 10) { i = \"0\" + i }\n    return i;\n}\n\nlet h = addZero(myDate.getHours());\nlet m = addZero(myDate.getMinutes());\nlet time = h + \":\" + m;\n\n\nnode.status({ fill: \"green\", shape: \"dot\", text: time });\nmsg.payload = time\nreturn msg;",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "libs":[
          
       ],
       "x":460,
       "y":300,
       "wires":[
          [
             "ee33036e1fa301b7"
          ]
       ]
    },
    {
       "id":"ee33036e1fa301b7",
       "type":"ha-entity",
       "z":"35c0e2ebaea0e359",
       "name":"Latest HH:MM",
       "server":"",
       "version":2,
       "debugenabled":false,
       "outputs":1,
       "entityType":"sensor",
       "config":[
          {
             "property":"name",
             "value":"mme_marie_faerdig"
          },
          {
             "property":"device_class",
             "value":""
          },
          {
             "property":"icon",
             "value":"mdi:clock"
          },
          {
             "property":"unit_of_measurement",
             "value":""
          },
          {
             "property":"state_class",
             "value":""
          },
          {
             "property":"last_reset",
             "value":""
          }
       ],
       "state":"payload",
       "stateType":"msg",
       "attributes":[
          
       ],
       "resend":true,
       "outputLocation":"payload",
       "outputLocationType":"none",
       "inputOverride":"allow",
       "outputOnStateChange":false,
       "outputPayload":"",
       "outputPayloadType":"str",
       "x":920,
       "y":300,
       "wires":[
          [
             
          ]
       ]
    },
    {
       "id":"d11fb13539f1a527",
       "type":"server-state-changed",
       "z":"35c0e2ebaea0e359",
       "name":"Last feeding",
       "server":"",
       "version":4,
       "exposeToHomeAssistant":false,
       "haConfig":[
          {
             "property":"name",
             "value":""
          },
          {
             "property":"icon",
             "value":""
          }
       ],
       "entityidfilter":"sensor.marie_engedal_last_feeding",
       "entityidfiltertype":"exact",
       "outputinitially":false,
       "state_type":"str",
       "haltifstate":"",
       "halt_if_type":"str",
       "halt_if_compare":"is",
       "outputs":1,
       "output_only_on_state_change":true,
       "for":"0",
       "forType":"num",
       "forUnits":"minutes",
       "ignorePrevStateNull":false,
       "ignorePrevStateUnknown":false,
       "ignorePrevStateUnavailable":false,
       "ignoreCurrentStateUnknown":false,
       "ignoreCurrentStateUnavailable":false,
       "outputProperties":[
          {
             "property":"payload",
             "propertyType":"msg",
             "value":"",
             "valueType":"entityState"
          },
          {
             "property":"data",
             "propertyType":"msg",
             "value":"",
             "valueType":"eventData"
          },
          {
             "property":"topic",
             "propertyType":"msg",
             "value":"",
             "valueType":"triggerId"
          }
       ],
       "x":110,
       "y":300,
       "wires":[
          [
             "0f3fe4fbd5739d8b"
          ]
       ]
    },
    {
       "id":"58484b365492466d",
       "type":"api-current-state",
       "z":"35c0e2ebaea0e359",
       "name":"Marie timer",
       "server":"",
       "version":3,
       "outputs":1,
       "halt_if":"",
       "halt_if_type":"str",
       "halt_if_compare":"is",
       "entity_id":"switch.marie_engedal_timer",
       "state_type":"str",
       "blockInputOverrides":false,
       "outputProperties":[
          {
             "property":"payload",
             "propertyType":"msg",
             "value":"",
             "valueType":"entityState"
          },
          {
             "property":"data",
             "propertyType":"msg",
             "value":"",
             "valueType":"entity"
          }
       ],
       "for":"0",
       "forType":"num",
       "forUnits":"minutes",
       "override_topic":false,
       "state_location":"payload",
       "override_payload":"msg",
       "entity_location":"data",
       "override_data":"msg",
       "x":310,
       "y":100,
       "wires":[
          [
             "6f668a10e50ceb6c"
          ]
       ]
    },
    {
       "id":"6b70d2d8d832bfa1",
       "type":"api-call-service",
       "z":"35c0e2ebaea0e359",
       "name":"Add sleep",
       "server":"",
       "version":5,
       "debugenabled":false,
       "domain":"babybuddy",
       "service":"add_sleep",
       "areaId":[
          
       ],
       "deviceId":[
          
       ],
       "entityId":[
          "switch.marie_engedal_timer"
       ],
       "data":"{\t   \"notes\":\"Fra remote\",\t   \"timer\":\"True\"\t}",
       "dataType":"jsonata",
       "mergeContext":"",
       "mustacheAltTags":false,
       "outputProperties":[
          
       ],
       "queue":"none",
       "x":620,
       "y":120,
       "wires":[
          [
             "464dc799d02c76af"
          ]
       ]
    },
    {
       "id":"464dc799d02c76af",
       "type":"api-call-service",
       "z":"35c0e2ebaea0e359",
       "name":"Sleep LED off",
       "server":"",
       "version":5,
       "debugenabled":false,
       "domain":"light",
       "service":"turn_off",
       "areaId":[
          
       ],
       "deviceId":[
          
       ],
       "entityId":[
          "light.marie_sove_timer_led"
       ],
       "data":"",
       "dataType":"jsonata",
       "mergeContext":"",
       "mustacheAltTags":false,
       "outputProperties":[
          
       ],
       "queue":"none",
       "x":920,
       "y":120,
       "wires":[
          [
             "48921eae59a3403d"
          ]
       ]
    },
    {
       "id":"48921eae59a3403d",
       "type":"api-current-state",
       "z":"35c0e2ebaea0e359",
       "name":"Readout",
       "server":"",
       "version":3,
       "outputs":1,
       "halt_if":"",
       "halt_if_type":"str",
       "halt_if_compare":"is",
       "entity_id":"sensor.mme_maengde",
       "state_type":"num",
       "blockInputOverrides":false,
       "outputProperties":[
          {
             "property":"payload",
             "propertyType":"msg",
             "value":"",
             "valueType":"entityState"
          },
          {
             "property":"data",
             "propertyType":"msg",
             "value":"",
             "valueType":"entity"
          }
       ],
       "for":"0",
       "forType":"num",
       "forUnits":"minutes",
       "override_topic":false,
       "state_location":"payload",
       "override_payload":"msg",
       "entity_location":"data",
       "override_data":"msg",
       "x":1080,
       "y":100,
       "wires":[
          [
             "ebefc9ba65df6218"
          ]
       ]
    },
    {
       "id":"6f668a10e50ceb6c",
       "type":"function",
       "z":"35c0e2ebaea0e359",
       "name":"Timer state",
       "func":"var timer = msg.payload;\nvar timer_type = msg.data.attributes.name;\n\nif (timer === \"off\") {\n    node.status({ fill: \"green\", shape: \"dot\", text: timer });\n    return [msg, null, null];\n} else if (timer === \"on\" && timer_type === \"Sleep\") {\n    node.status({ fill: \"green\", shape: \"dot\", text: timer_type });\n    return [null, msg, null];\n} else {\n    node.status({ fill: \"green\", shape: \"dot\", text: \"Ikke defineret\" });\n    return [null, null, msg];\n}",
       "outputs":3,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "libs":[
          
       ],
       "x":470,
       "y":100,
       "wires":[
          [
             "48921eae59a3403d"
          ],
          [
             "6b70d2d8d832bfa1"
          ],
          [
             
          ]
       ],
       "outputLabels":[
          "Timer off",
          "Sleep timer on",
          "Otherwise"
       ]
    },
    {
       "id":"ebefc9ba65df6218",
       "type":"function",
       "z":"35c0e2ebaea0e359",
       "name":"flow set",
       "func":"var amount = msg.payload\n\nif (amount >= 10) {\n    flow.set(\"mme_fuld\", amount);\n    node.status({ fill: \"green\", shape: \"dot\", text: amount +\" mL\" });\n    return [msg, null, null];\n} else {\n    node.status({ fill: \"red\", shape: \"dot\", text: amount +\" mL\" });\n    return [null, msg, null];\n}",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "libs":[
          
       ],
       "x":1240,
       "y":100,
       "wires":[
          [
             "bb5766c2d1e205e7"
          ]
       ]
    }
 ]